.review-card-container {
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0px 1px 2px 0px #1018280d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
}

.header-rating-section {
  display: flex;
  gap: 0.5rem;
}

.rating-text {
  font-size: 16px;
  font-weight: 500;
}

.review-stars {
  display: flex;
  align-items: end;
}

.review-date {
  font-size: 12px;
  font-weight: 400;
  align-self: center;
}

.review-comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 1rem 0rem;
}

.show-more-less-text {
  cursor: pointer;
}

.show-more-less-text:hover,
.show-more-less-text:focus {
  text-decoration: underline;
}

.d-none {
  display: none;
}

.review-footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.review-author-avatar {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
}

.avatar-text {
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  margin-top: 1px;
}

.review-author-info {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.review-author-text {
  vertical-align: middle;
}

.review-source-img {
  vertical-align: middle;
}
